<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <meta name="robots" content="noindex, nofollow" />
    {%- seo -%}
    {%- feed_meta -%}
</head>
